language: python
python:
  - 2.7
  - 2.6
  - 3.3
  - 3.2
env:
  - DJANGO=django==1.5.5
  - DJANGO=django==1.6
install:
  - pip install $DJANGO
  - python setup.py -q install
script: cd test_project && python manage.py test require -v 2
notifications:
  email: false
